.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: transparent; 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.box .profilo_1 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 250px;
    margin-top: 75px;
}

.box .profilo_2 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 475px;
    margin-top: -550px;
}

.box .profilo_3 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 700px;
    margin-top: -650px;
}

.box .profilo_4 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 925px;
    margin-top: -550px;
}