.box{
    width: 1600px;
    margin: 0 auto;
    background-color: transparent;
}

.profilo_1 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 400px;
    margin-top: 250px;
}

.profilo_2 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 600px;
    margin-bottom: 1000px;
}

.profilo_3 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 800px;
    margin-top: 260px;
}

.profilo_4 {
    width: 200px;
    height: 600px;
    background-image: url(../image/guida_4.jpg);
    border-radius: 150px / 200px;
    margin-left: 1000px;
    margin-top: 290px;
}