.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
}

.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40% linear infinite;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.profilo_1 {
    width: 200px;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url(../image/guida_4.jpg);
    padding: 50px;
    border-radius: 150px / 200px;
}

.profilo_2 {
    width: 200px;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url(../image/guida_4.jpg);
    padding: 15px;
    border-radius: 150px / 200px;
}

.profilo_3 {
    width: 200px;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url(../image/guida_4.jpg);
    padding: 50px;
    border-radius: 150px / 200px;
}

.profilo_4 {
    width: 200px;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url(../image/guida_4.jpg);
    padding: 50px;
    border-radius: 150px / 200px;
}

.profilo_5 {
    width: 200px;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url(../image/guida_4.jpg);
    padding: 50px;
    border-radius: 150px / 200px;
}

.profilo_6 {
    width: 200px;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url(../image/guida_4.jpg);
    padding: 50px;
    border-radius: 150px / 200px;
} 

.img{
    transform: translateZ(20px);
    perspective: 100px;
    transition: transform 1%;
}


.m{
    margin-left: 10px;
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: "";
    height: 240%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}